.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; /* space from top */
  font-family: "Georgia", serif;
}

.book {
  display: flex;
  width: 950px;
  height: 670px;
  background: #f8f1e4;
  box-shadow: 0 25px 50px rgba(0,0,0,0.35);
  border-radius: 10px;
  overflow: hidden;
}

.page {
  width: 50%;
  padding: 0;
  background-size: 35rem;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
}

.page-content {
  width: 78%;
  transform: translateX(30px);                /* fits inside white area */
}


.page.left {
  border-right: 2px solid #ddd;
}

.page h2 {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.dish {
  display: flex;
  align-items: center;
  margin-bottom: 10px;     /* less vertical spacing */
  gap: 20px;              /* reduce horizontal gap */
}

.dish img {
  width: 65px;
  height: 65px;
  border-radius: 5px;
}


.dish p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.dish span {
  font-size: 12px;
  color: #555;
}

.controls {
  margin-top: 25px;
}

.controls button {
  padding: 8px 18px;
  margin: 0 10px;
  background: #2f2f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.controls button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
